<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        h1{
        color:rebeccapurple;
        background-image: linear-gradient(#e66465, #9198e5);
        font-family:cursive;
        text-align:center;
        }
        h2{
        text-align:center;
        }
        #div-body{
        background-image: linear-gradient(#e66465, #9198e5);
        }
        a{
        font-family: sans-serif;
        }
        body{
        background-image: url("school.jpg");
        }

    </style>
</head>
<body>
<h1>WELCOME TO ASHLEY INTERNATIONAL SCHOOL</h1>
<hr>
<div id ='div-body'>
<h2 class ='h2'><a href="http://127.0.0.1:8000/reg" target="_blank">LINK TO STUDENT REGISTRATION</a></h2>
<br>
<h2 class ='h2'><a href="http://127.0.0.1:8000/report" target="_blank">LINK TO STUDENT REPORT PAGE</a></h2>
    <br>
 <h2 class ='h2'><a href="http://127.0.0.1:8000/marks.html" target="_blank">LINK TO STUDENT MARKS REGISTRY</a></h2>
    </div>
</body>
</html>