<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Report_Page</title>
  </head>
  <body>
<h1>DETAILS OF THE STUDENT.</h1>
<div class="Report">
{% if inserting_the_student_details %}
<table border="2px" cellspacing="5px" text-align="center">
  <tr>
    <th>STUDENT_NAME</th>
    <th>STUDENT_AGE</th>
    <th>STUDENT_GENDER</th>
    <th>STUDENT_NUMBER</th>
    <th>STUDENT_EMAIL</th>
  </tr>
{% for x in inserting_the_student_details %}
<tr>
  <td>{{x.std_name}}</td>
  <td>{{x.std_age}}</td>
  <td>{{x.std_gender}}</td>
  <td>{{x.std_phone}}</td>
  <td>{{x.std_email}}</td>
</tr>
{% endfor %}
  </table>4
{% endif %}
</div>
  </body>
</html>
